from requests.auth import HTTPBasicAuth

SECRET_KEY = '{{ secret.secret_key }}'
KRATOS_ADMIN_PWD = '{{ secret.couch_pwd }}'

DATA_DIR = '{{ data_dir }}/django'

SOCIAL_AUTH_GITHUB_ENTERPRISE_KEY = '{{ github_enterprise.OAUTH.KEY }}'
SOCIAL_AUTH_GITHUB_ENTERPRISE_SECRET = '{{ github_enterprise.OAUTH.SECRET }}'
SOCIAL_AUTH_GITHUB_ENTERPRISE_HOST = '{{ github_enterprise.HOST }}'
SOCIAL_AUTH_GITHUB_KEY = '{{ github.OAUTH.KEY }}'
SOCIAL_AUTH_GITHUB_SECRET = '{{ github.OAUTH.SECRET }}'
GH_ORG_IDS = ({{ github.ORG_ID }},)
GH_ADMIN_CREDENTIALS  = HTTPBasicAuth('{{ github.ADMIN_CREDENTIALS.user }}',   '{{ github.ADMIN_CREDENTIALS.pass }}')
GHE_ADMIN_CREDENTIALS = HTTPBasicAuth('{{ github_enterprise.ADMIN_CREDENTIALS.user }}',   '{{ github_enterprise.ADMIN_CREDENTIALS.pass }}')
GH_WELCOME_TEAM = {{ github.WELCOME_TEAM }}
