<div expandable class="expandable expandable__padded expandable__team">
    <div class="expandable_header">
        <h1 class="expandable_label">
            {{ data.name }}
        </h1>
        <role team-model="data"
              class="expandable_role"></role>
        <div class="expandable_actions">
            <div class="expandable_header-left">
                <userbutton team-model="data"
                            role="Admin"
                            show="data.showAdmin">
                </userbutton>
                <userbutton team-model="data"
                            role="Member"
                            show="data.showMember">
                </userbutton>
            </div>
            <div class="expandable_header-right">
                <assetbutton team-model="data"
                             heading="Repo"
                             show="data.showRepo">
                </assetbutton>
            </div>
        </div>
    </div>
    <div class="expandable_content">
        <section userlist
                 class="team-content"
                 team-model="data"
                 role="Admin"
                 ng-show="data.showAdmin">
        </section>
        <section userlist
                 class="team-content"
                 team-model="data"
                 role="Member"
                 ng-show="data.showMember">
        </section>
        <div ng-show="data.showRepo"
             class="team-content">
            <div assetlist
                 team-model="data"
                 heading="Repo">
            </div>
        </div>
    </div> <!-- END .expandable_content -->
</div> <!-- END .expandable -->
