<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>

<!--
    ===========
    GLOBAL META
    ===========
-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--
    ==================
    PAGE-SPECIFIC META
    ==================
-->

    <title>DevDash</title>
    <meta name="description" content="A Dashboard for Devs and Designers.">

<!--
    ======
    STYLES
    ======
    The number of stylesheets here must be kept to a minimum.
    Unless adding a significant amount of CSS that is specific to a single page
    or section of the site, all new styles should be added to src/static/css/app.less.
-->

<!--[if lt IE 9]>      <link rel="stylesheet" href="/static/css/main.ie.min.css"> <![endif]-->
<!--[if gt IE 8]><!--> <link rel="stylesheet" href="/static/css/main.min.css"> <!--<![endif]-->

<!--
    ============
    HEAD SCRIPTS
    ============
    The following scripts must be included in the head. DO NOT ADD ANY MORE.
    All other scripts should go before the closing body tag.
    If you come across a script that makes a convincing case to be included in
    the head, then file an issue or PR to discuss including it.
-->

<!--[if lt IE 9]>
    <script src="/static/vendor/html5shiv/html5shiv-printshiv.min.js"></script>
<![endif]-->

    <script>
        // Confirm availability of JS and remove no-js class from html
        var docElement = document.documentElement;
        docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
    </script>

</head>

<body ng-app="OSWizardApp" ng-controller="RepoGroupsCtrl">

<!--
    =================
    Begin page source
    =================
-->

    <header role="banner">
        <h1><span class="cf-icon cf-icon-web-round"></span> DevDash</h1>
    </header>

    <main id="main" role="main">
        <div class="demo-grid">

            <section ng-repeat="group in repoGroups"
                     ng-call="initExpandable"
                     class="demo-grid_col-1-3">
                <div class="expandable expandable__padded" expandable>
                    <h1 class="u-visually-hidden">
                        {{ group.name }}
                    </h1>
                    <button class="expandable_header expandable_target">
                        <span class="expandable_header-left expandable_label">
                            {{ group.name }}
                        </span>
                        <span class="expandable_header-right expandable_link">
                            <span class="expandable_cue-open">
                                Show
                                <span class="cf-icon cf-icon-plus-round"></span>
                            </span>
                            <span class="expandable_cue-close">
                                Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </span>
                        </span>
                    </button>
                    <div class="expandable_content">
                        <div class="group-cols">
                            <div class="group-cols_col group-content">
                                <h2 class="group-content_header">Repos</h2>
                                <ul class="group-content_list">
                                    <li ng-repeat="repo in group.repos"
                                        class="group-content_list-item">
                                        {{ repo.name }}
                                    </li>
                                </ul>
                            </div> <!-- END .group-content -->
                            <div class="group-cols_col group-content">
                                <h2 class="group-content_header">Users</h2>
                                <users role="Admin"
                                       group="group"
                                       toggle="toggleUserType()"
                                       class="group-content_list">
                                </users>
                                <users role="Write"
                                       group="group"
                                       toggle="toggleUserType()"
                                       class="group-content_list">
                                </users>
                                <users role="Read"
                                       group="group"
                                       toggle="toggleUserType()"
                                       class="group-content_list">
                                </users>
                            </div> <!-- END .group-content -->
                        </div> <!-- END .group-cols -->
                    </div> <!-- END .expandable_content -->
                </div> <!-- END .expandable -->
            </section>

        </div>
    </main>

    <footer role="contentinfo">
        <!-- Footer stuff -->
    </footer>

<!--
    ============
    BODY SCRIPTS
    ============
    The number of scripts here must be kept to a minimum.
    Unless adding a significant amount of JS that is specific to a single page
    or section of the site, all custom JS should be added to src/static/js/app.js.
-->

<script src="/static/js/main.min.js"></script>

</body>

</html>
