<section>
    <div class="expandable expandable__padded" expandable>
        <h1 class="u-visually-hidden">
            {{ group.name }}
        </h1>
        <div class="expandable_header">
            <div class="expandable_label">
                {{ group.name }}
            </div>
            <div class="expandable_header-left">
                <userbutton group="group"
                            role="Admin"
                            show="group.showAdmin">
                </userbutton>
                <userbutton group="group"
                            role="Write"
                            show="group.showWrite">
                </userbutton>
                <userbutton group="group"
                            role="Read"
                            show="group.showRead">
                </userbutton>
            </div>
            <div class="expandable_header-right">
                <repobutton group="group"
                            show="group.showRepo">
                </repobutton>
            </div>
            <!-- <span class="expandable_header-right expandable_link">
                <span class="expandable_cue-open">
                    Show
                    <span class="cf-icon cf-icon-plus-round"></span>
                </span>
                <span class="expandable_cue-close">
                    Hide
                    <span class="cf-icon cf-icon-minus-round"></span>
                </span>
            </span> -->
        </div>
        <div class="expandable_content">
            <userlist group="group"
                      role="Admin"
                      show="group.showAdmin">
            </userlist>
            <userlist group="group"
                      role="Write"
                      show="group.showWrite">
            </userlist>
            <userlist group="group"
                      role="Read"
                      show="group.showRead">
            </userlist>
            <div ng-show="group.showRepo"
                 class="expandable-group repolist"
                 data-accordion="true">
                <div ng-repeat="repo in group.repos">
                    <repo repo="repo"></repo>
                </div>
            </div> <!-- END .expandable-group -->
        </div> <!-- END .expandable_content -->
    </div> <!-- END .expandable -->
</section>
