<section expandable
         class="expandable expandable__padded expandable__repogroup">
    <div class="expandable_header">
        <h1 class="expandable_label">
            {{ group.name }}
        </h1>
        <div class="expandable_actions">
            <div class="expandable_header-left">
                <userbutton group="group"
                            role="Admin"
                            show="group.showAdmin">
                </userbutton>
                <userbutton group="group"
                            role="Write"
                            show="group.showWrite">
                </userbutton>
                <userbutton group="group"
                            role="Read"
                            show="group.showRead">
                </userbutton>
            </div>
            <div class="expandable_header-right">
                <repobutton group="group"
                            show="group.showRepo">
                </repobutton>
            </div>
        </div>
    </div>
    <div class="expandable_content">
        <userlist group="group"
                  role="Admin"
                  show="group.showAdmin">
        </userlist>
        <userlist group="group"
                  role="Write"
                  show="group.showWrite">
        </userlist>
        <userlist group="group"
                  role="Read"
                  show="group.showRead">
        </userlist>
        <div ng-show="group.showRepo"
             class="expandable-group filter">
            <h2 class="expandable-group_header">
                Repos
            </h2>
            <input ng-model="repofilter" type="text" class="filter_input">
            <repo ng-repeat="repo in group.repos | filter:repofilter"
                  repo="repo">
            </repo>
        </div> <!-- END .expandable-group -->
    </div> <!-- END .expandable_content -->
</section> <!-- END .expandable -->
