<section>
    <div class="expandable expandable__padded expandable__repogroup" expandable>
        <div class="expandable_header">
            <h1 class="expandable_label">
                {{ group.name }}
            </h1>
            <div class="expandable_actions">
                <div class="expandable_header-left">
                    <userbutton group="group"
                                role="Admin"
                                show="group.showAdmin">
                    </userbutton>
                    <userbutton group="group"
                                role="Write"
                                show="group.showWrite">
                    </userbutton>
                    <userbutton group="group"
                                role="Read"
                                show="group.showRead">
                    </userbutton>
                </div>
                <div class="expandable_header-right">
                    <repobutton group="group"
                                show="group.showRepo">
                    </repobutton>
                </div>
            </div>
        </div>
        <div class="expandable_content">
            <userlist group="group"
                      role="Admin"
                      show="group.showAdmin">
            </userlist>
            <userlist group="group"
                      role="Write"
                      show="group.showWrite">
            </userlist>
            <userlist group="group"
                      role="Read"
                      show="group.showRead">
            </userlist>
            <div ng-show="group.showRepo"
                 class="expandable-group repolist"
                 data-accordion="true">
                <h2 class="expandable-group_header">Repos</h2>
                <div ng-repeat="repo in group.repos">
                    <repo repo="repo"></repo>
                </div>
            </div> <!-- END .expandable-group -->
        </div> <!-- END .expandable_content -->
    </div> <!-- END .expandable -->
</section>
