<section expandable class="expandable expandable__padded expandable__repogroup">
    <div class="expandable_header">
        <h1 class="expandable_label">
            {{ repo.name }}
        </h1>
        <role group="repo"
              username="{{ user.id }}"
              class="expandable_role"></role>
        <div class="expandable_actions">
            <userbutton group="repo"
                        role="Admin"
                        show="repo.showAdmin">
            </userbutton>
            <userbutton group="repo"
                        role="Write"
                        show="repo.showWrite">
            </userbutton>
            <userbutton group="repo"
                        role="Read"
                        show="repo.showRead">
            </userbutton>
        </div>
    </div> <!-- END .expandable_header -->
    <div class="expandable_content">
        <userlist filter="adminfilter"
                  role="Admin"
                  group="repo"
                  show="repo.showAdmin"
                  class="group-content_list">
        </userlist>
        <userlist filter="writefilter"
                  role="Write"
                  group="repo"
                  show="repo.showWrite"
                  class="group-content_list">
        </userlist>
        <userlist filter="readfilter"
                  role="Read"
                  group="repo"
                  show="repo.showRead"
                  class="group-content_list">
        </userlist>
    </div> <!-- END .expandable_content -->
</section> <!-- END .expandable -->
