<div expandable class="expandable expandable__padded expandable__repogroup">
    <div class="expandable_header">
        <h1 class="expandable_label">
            {{ data.name }}
        </h1>
        <role group="data"
              class="expandable_role"></role>
        <div class="expandable_actions">
            <div class="expandable_header-left">
                <userbutton group="data"
                            role="Admin"
                            show="data.showAdmin">
                </userbutton>
                <userbutton group="data"
                            role="Write"
                            show="data.showWrite">
                </userbutton>
                <userbutton group="data"
                            role="Read"
                            show="data.showRead">
                </userbutton>
            </div>
            <div class="expandable_header-right">
                <repobutton group="data"
                            show="data.showRepo">
                </repobutton>
            </div>
        </div>
    </div>
    <div class="expandable_content">
        <section userlist
                 class="userlist"
                 filter="adminfilter"
                 group="data"
                 role="Admin"
                 ng-show="data.showAdmin">
        </section>
        <section userlist
                 class="userlist"
                 filter="writefilter"
                 group="data"
                 role="Write"
                 ng-show="data.showWrite">
        </section>
        <section userlist
                 class="userlist"
                 filter="readfilter"
                 group="data"
                 role="Read"
                 ng-show="data.showRead">
        </section>
        <div ng-show="data.showRepo"
             class="expandable-group filter">
            <h2 class="slats-header">
                Repos
            </h2>
            <ul class="slats">
                <li ng-repeat="repo in ::data.repos"
                    class="slats_item slat">
                    <span class="slat_label">
                        {{ repo.name }}
                    </span>
                </li>
            </ul>
        </div> <!-- END .expandable-group -->
    </div> <!-- END .expandable_content -->
</div> <!-- END .expandable -->
