{% extends "core/base.html" %}
{% load tile_container %}
{% block title %}Confirm Enterprise Github Profile{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs_item"><a href="{% url "home" %}" class="breadcrumbs_link">Home</a></li>
  <li class="breadcrumbs_item">Confirm Profile</li>
{% endblock breadcrumbs %}
{% block unauthed_content %}
    <form action="{% url "github:enterprise_details" %}" method="post" class="django-forms">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="Continue" />
    </form>
{% endblock unauthed_content %}
