<h3>Git Repos</h3> 
<div class="gh-server">
    <h4>GitHub Enterprise</h4>
</div>
{% for repo in tile.enterprise %}
  <div class="expandable expandable__padded">
    <button class="expandable_header expandable_target" {% if repo.model.fork %}style="color:blue;"{% endif %}>
        {{ repo.model.full_name }}
    </button>
    <div class="expandable_content">
      <div class="tabs">
        <ul class="tabs_list" role="tablist">
          {% for action in repo.actions %}
            <li class="tabs_list-item" role="presentation">
              <button role="tab" tabindex="-1" 
                data-panel="ghe-{{ forloop.parentloop.counter }}-panel-{{ forloop.counter }}" 
                id="ghe-{{ forloop.parentloop.counter }}-tablist-panel-{{ forloop.counter }}" 
                aria-controls="ghe-{{ forloop.parentloop.counter }}-panel-{{ forloop.counter }}"
                {% if forloop.first %}
                  class="tabs_tab is-active" aria-selected="true" aria-expanded="true"
                {% else %}
                  class="tabs_tab" aria-selected="false" aria-expanded="false"
                {% endif %}
              >
                {{ action.name }}
              </button>
            </li>
          {% endfor %}
        </ul>
        {% for action in repo.actions %}
        {% autoescape off %}
          <div style="display: block;" role="tabpanel" 
            id="ghe-{{ forloop.parentloop.counter }}-panel-{{ forloop.counter }}"
            tabindex="0" aria-labelledby="tablist-panel-{{ forloop.counter }}"
            {% if forloop.first %}
              class="tabs_panel is-active" aria-hidden="false"
            {% else %}
              class="tabs_panel" aria-hidden="true"
            {% endif %}>
            <h5>{{ action.title }}</h5>
            <p>{{ action.description }}</p>
            {% if action.method == "POST" or action.form %}
              <form action="action.action" method="action.method">
                {{ action.form }}
                <input type="submit" value="{{ action.cta }}" />
              </form>
            {% else %}
              <a href="{{ action.action }}">{{ action.cta }}</a>
            {% endif %}
          </div>
        {% endautoescape %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
<div class="gh-server">
    <h4>GitHub.com</h4>
</div>
{% for repo in tile.github %}
    <div class="gh-repo" {% if repo.model.fork %}style="color:ccc;"{% endif %}>
        {{ repo.model.full_name }}
    </div>
{% endfor %}
