{% extends "core/base.html" %}
{% load tile_container %}
{% block title %}Enable GitHub Two Factor Authentication{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs_item"><a href="{% url "home" %}" class="breadcrumbs_link">Home</a></li>
  <li class="breadcrumbs_item">Enable GitHub Two Factor Authentication</li>
{% endblock breadcrumbs %}
{% block content %}
    <p>You must <a href="https://github.com/settings/security">enable two factor authentication</a> for GitHub before proceeding.
    Full instruction can be found <a href="https://help.github.com/articles/about-two-factor-authentication">here</a>.</p>

    <p>When Two Factor Auth is enabled, </p>
    <a href="/complete/github" class="btn">Click Here</a>

{% endblock content %}
