{% extends "core/base.html" %}
{% load tile_container %}
{% block title %}Confirm Enterprise Github Profile{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs_item"><a href="{% url "home" %}" class="breadcrumbs_link">Home</a></li>
  <li class="breadcrumbs_item">Confirm Profile</li>
{% endblock breadcrumbs %}
{% block content %}
    <form action="{% url "osw:github_details" %}" method="post">
        {% csrf_token %}
        {{ name_form }}
        {{ publicize_form }}
        <input type="submit" class="btn" value="Continue" />
    </form>
{% endblock content %}
