<h3>Open Source</h3>
<h4>Start a new open source repo</h4>
{% if not user.is_gh_linked %}
<div style="background-color:yellow;">
    Please <a href="/login/github">link your GitHub.com account</a>
</div>
{% endif %}
<form action="/osw/start" method="post">
    {% csrf_token %}
    {{ widget.start_form }}
    <input type="submit" {% if not user.is_gh_linked %}disabled{% endif %}>
</form>
<h4>Open Source an existing repo</h4>
<form action="/osw/release" method="post">
    {% csrf_token %}
    {{ widget.release_form }}
    <input type="submit" {% if not user.is_gh_linked %}disabled{% endif %}>
</form>
