server {
    listen 80;

    location ^~ /kratos {
        proxy_pass http://localhost:{{ kratos_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    location ^~ /moirai {
        proxy_pass http://localhost:{{ moirai_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    location /beta {
        {% if is_virtualbox %}
        sendfile off;
        {% endif %}
        alias {{ dash_dir }}/{{ dash_static_dir|default('dist') }};
    }

    location /static {
        {% if is_virtualbox %}
        sendfile off;
        {% endif %}
        alias {{ pantheon_dir }}/devdash/static;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        proxy_pass   http://localhost:{{ django_port }};
    }

    location /couchdb {
        rewrite /couchdb/(.*) /$1 break;
        proxy_pass http://localhost:5984;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
