/* ==========================================================================
   dev-dash
   App-specific styles

   1. Base
   2. Code demo
   3. Grid
   4. Expandables
   5. Directives
   ========================================================================== */


/* ==========================================================================
   1. Base
   ========================================================================== */

[role="banner"] {
    .grid_wrapper();
    margin-top: 3em;
    margin-bottom: 3em;
}

[role="main"] {
    .grid_wrapper();
}

[role="contentinfo"] {
    margin-top: 3em;
}


/* ==========================================================================
   2. Code demo
   ========================================================================== */

.code-demo {
    margin: 0;

    & + & {
        padding-top: 1.5em;
        margin-top: 1.5em;
        border-top: 1px solid @gray-50;
    }

    &_caption {
        margin: 1em 0;
    }
}


/* ==========================================================================
   3. Grid
   ========================================================================== */

.grid {
    .respond-to-min(768px, {
        .grid_nested-col-group();
    });
}

.grid_col-1-3 {
    .respond-to-min(768px, {
        .grid_column(6);
    });
    .respond-to-min(1024px, {
        .grid_column(4);
    });
}


/* ==========================================================================
   4. Expandables
   ========================================================================== */

.expandable_target:focus {
    outline: 1px dotted @gray;
    outline-offset: 1px;
}

.expandable__repogroup {
    border: 1px solid @gray-20;

    &.expandable__expanded,
    &:hover {
        background: @gray-10;
    }

    .expandable_header {
        padding: 1em;
    }

    .expandable_label {
        .h3();
        // Eyeballed to 15px.
        margin-bottom: unit(9px / @font-size, em);
        line-height: 1;
    }

    .expandable_actions {
        .u-clearfix();
        line-height: 1;
    }

    .expandable_content {
        margin-bottom: 1em;
        &:before {
            height: 0;
            margin-bottom: unit(5px / @base-font-size-px, em);
        }
    }
}

.expandable-group .expandable__repogroup {
    // Needed to kill margins from spilling outside of the exandable.
    .u-clearfix();
    border: 1px solid @gray-20;
    border-top: 0;

    &.expandable__expanded,
    &:hover {
        background: @white;
    }

    .expandable_label {
        .h4();
        // Eyeballed to 12px.
        margin-bottom: unit(7px / @font-size, em);
        line-height: 1;
    }
}

.expandable-group_header {
    .h5();
    line-height: 1;
    margin: 0;
    padding: unit(16px / @font-size, em);
    border: 1px solid @gray-20;
    background: @gray-20;
}

.filter {
    position: relative;

    &_input {
        position: absolute;
        top: .5em;
        right: .5em;
        width: 60%;
    }
}


/* ==========================================================================
   5. Directives
   ========================================================================== */

// .btn overrides.
.userbutton,
.repobutton {
    margin: 0;
}

.userbutton {
    margin-right: unit(6px / @btn-font-size, em);
    // Fixes weirdness with the right edge of the text getting cropped.
    padding-right: 1px;
}

// Styled to look like expandable group expandables.
.userlist {
    &_list {
        margin: 0;
        padding: 0;
        border: 1px solid @gray-20;
        background: @white;
        list-style-type: none;
    }

    &_item {
        padding: 1em;
        line-height: 1;
        & + & {
            border-top: 1px dotted @gray-20;
        }
    }

    &_name {
        .h4();
        line-height: 1;
    }
}

