/* ==========================================================================
   dev-dash
   App-specific styles
   ========================================================================== */

[role="banner"] {
    .grid_wrapper();
    margin-top: 3em;
    margin-bottom: 3em;
}

[role="main"] {
    .grid_wrapper();
}

[role="contentinfo"] {
    margin-top: 3em;
}

.code-demo {
    margin: 0;

    & + & {
        padding-top: 1.5em;
        margin-top: 1.5em;
        border-top: 1px solid @gray-50;
    }

    &_caption {
        margin: 1em 0;
    }
}

.demo-grid {
    .respond-to-min(768px, {
        .grid_nested-col-group();
    });
}

.demo-grid_col-1-3 {
    .respond-to-min(768px, {
        .grid_column(6);
    });
    .respond-to-min(1024px, {
        .grid_column(4);
    });
}

.expandable_target:focus {
    outline: 1px dotted @gray;
    outline-offset: 1px;
}

.group-cols {
    .respond-to-min(480px, {
        .grid_nested-col-group();

        &_col {
            .grid_column(6);
        }
    });
}

.group-content {
    margin-bottom: unit(15px / @base-font-size-px, em);

    &_header {
        .h5();
    }

    &_list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &_list-item {
        .webfont-regular();
    }
}
