/* ==========================================================================
   dev-dash
   App-specific styles
   ========================================================================== */

[role="banner"] {
    .grid_wrapper();
    margin-top: 3em;
    margin-bottom: 3em;
}

[role="main"] {
    .grid_wrapper();
}

[role="contentinfo"] {
    margin-top: 3em;
}

.code-demo {
    margin: 0;

    & + & {
        padding-top: 1.5em;
        margin-top: 1.5em;
        border-top: 1px solid @gray-50;
    }

    &_caption {
        margin: 1em 0;
    }
}

.demo-grid {
    .respond-to-min(768px, {
        .grid_nested-col-group();
    });
}

.demo-grid_col-1-3 {
    .respond-to-min(768px, {
        .grid_column(6);
    });
    .respond-to-min(1024px, {
        .grid_column(4);
    });
}

.expandable_target:focus {
    outline: 1px dotted @gray;
    outline-offset: 1px;
}

.expandable__repogroup {
    border: 1px solid @gray-20;

    &.expandable__expanded,
    &:hover {
        background: @gray-10;
    }

    .expandable_header {
        padding: 1em;
    }

    .expandable_label {
        .h4();
        margin: 0 0 unit(5px / @font-size, em);
        line-height: 1;
    }

    .expandable_actions {
        .u-clearfix();
        line-height: 1;
    }

    .expandable_content {
        margin-bottom: 1em;
        &:before {
            height: 0;
            margin-bottom: unit(5px / @base-font-size-px, em);
        }
    }
}

.expandable-group .expandable__repogroup {
    // Needed to kill margins from spilling outside of the exandable.
    .u-clearfix();
    border-bottom: 0;

    &.expandable__expanded,
    &:hover {
        background: @white;
    }
}

.userbutton {
    margin: 0 unit(6px / @btn-font-size, em) 0 0;
    // Fixes weirdness with the right edge of the text getting cropped.
    padding-right: 1px;
}

.repobutton {
    margin: 0;
}

.userlist {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &_item {
        .webfont-regular();
    }
}

.repolist {
    margin: 0;
    padding: 0;
}
